.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numbersContainer {
    display: flex;
}

.calculator {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.debug {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
